<ion-view title="My Jobs" id="page11">
    <ion-content padding="true" class="has-header">
      <div ng-if="loader" class="vertical-center">
        <ion-spinner icon="lines"></ion-spinner>
      </div>
        <ion-list id="myTasks-list7">
          <a class="item item-thumbnail-left" ui-sref="menu.myTasks({job_id:job.id})" ng-repeat="job in jobs">
            <img src="{{job.job_image}}">
            <h2 ng-bind="job.title"></h2>
            <p>Pending Jobs : {{job.pendingTasks}}</p>
          </a>
        </ion-list>
    </ion-content>
</ion-view>
